
    <h1>Visit Report</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Patient</th>
                <th>Admission Date</th>
                <th>Admission Time</th>
                <th>Discharge Date</th>
                <th>Discharge Time</th>
                <th>Ward</th>
            </tr>
        </thead>
        <tbody>
            {% for visit in visits %}
            <tr>
                <td>{{ visit.patient }}</td>
                <td>{{ visit.admission_date }}</td>
                <td>{{ visit.admission_time }}</td>
                <td>{{ visit.discharge_date }}</td>
                <td>{{ visit.discharge_time }}</td>
                <td>{{ visit.ward }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

